<div class="container">
  <h1>Log In</h1>

  <div class="col-md-4">
    <%= bootstrap_form_tag url: sessions_path do |f| %>

      <div class="form-field">
        <%= f.email_field :email %>
      </div>

      <div class="form-field">
        <%= f.password_field :password %>
      </div>

      <div class="form-field">
        <%= f.submit 'Log In', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
