<% @store.events.each do |event| %>
  <div class="event-container">
    <h6><%= event.name %></h6>
    <p><%= event.time %></p>
    <p><%= event.description %></p>
    <%= link_to 'Delete', [@store, event], method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
