<div class="jumbotron">
  <div class="container">
    <h1>It's BattleTime!</h1>
    <p>Welcome to BattleTime! This app is in early Alpha stages, so please report any bugs you find to slyealex@live.com, all feedback is appreciated. With that said, BattleTime offers players of all table top variaties an oppertunity for organized play. Local game stores can register and have their own page dedicated to their events and events of their customers. Never again show up to a store with no one to play. Organize a game or see events that you want to join. Board games, Miniatures, Pro Painting, Crazy converstions and whatever else you want to organize. Either way, it's BattleTime.</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4 build">
      <h2 class="home-header">Build</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-md-4 paint">
        <h2 class="home-header">Paint</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-md-4 play">
      <h2 class="home-header">Play</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

  </div>
</div>
