
$primary-color: rgb(176, 241, 102);
$success: #5cb85c;

$font-one: 'Bangers', sans-serif;
$font-two: 'Fugaz One', sans-serif;
$font-three: 'Days One', sans-serif;

// HOMEPAGE INFO STYLES --------------------------------


.hobby {
  border: 1px solid black;
  margin-bottom: 50px;
}

.casual {
  border: 1px solid black;
  margin-bottom: 50px;
}

.tournament {
  border: 1px solid black;
  margin-bottom: 50px;
}

.home-header {
  text-align: center;
}

.box-custom {
  // background-color: rgba(0, 181, 23, 0.33);
}

.info-header {
  text-align: center;
  font-family: $font-two;
}

// NAVBAR STYLES --------------------------------

.custom-style {
  // background-color: rgb(231, 86, 66);
}

// JUMBOTRON STYLES --------------------------------


.custom-jumbo {
  background-image: url(archaonpic.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #eeeeee;
  text-shadow: 5px 2px 5px black;
  height: 650px;
  font-family: 'Bangers';
  border-bottom: 50px solid black;
}

.jumbo-header {
  font-family: 'Bangers';
}
