
$primary-color: rgb(176, 241, 102);
$success: #5cb85c;

.build {
  border: 1px solid black;
}

.paint {
  border: 1px solid black;
}

.play {
  border: 1px solid black;
}

.home-header {
  text-align: center;
}

.box-custom {
  // background-color: rgba(0, 181, 23, 0.33);
}

// NAVBAR STYLES --------------------------------

.custom-style {
  // background-color: rgb(231, 86, 66);
}

// JUMBOTRON STYLES --------------------------------


.custom-jumbo {
  background-image: url(archaonpic.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 650px;
  font-family: 'Bangers';
  border-bottom: 50px solid black;
}

.jumbo-header {
  font-family: 'Bangers';
}
