
$primary-color: rgb(176, 241, 102);
$success: #5cb85c;

.build {
  border: 1px solid black;
}

.paint {
  border: 1px solid black;
}

.play {
  border: 1px solid black;
}

.home-header {
  text-align: center;
}
