
$primary-color: rgb(163, 161, 161);
$success: #5cb85c;
$secondary-color: #eeeeee;

$font-one: 'Bangers', sans-serif;
$font-two: 'Fugaz One', sans-serif;
$font-three: 'Days One', sans-serif;

// SITE WIDE STYLES --------------------------------

body {
  padding-top: 50px;
  background-color: $primary-color;
}

// EVENT STYLES --------------------------------

.event-container {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin: 5px;
  box-shadow: 5px 5px 0 rgb(0, 0, 0);
  background-color: $secondary-color;
}

.event-header {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: $success;
  color: #F9F9F9;
  margin: 0;
  padding: 3px;
}

.add-event {
  background-color: $secondary-color;
  border-left: 4px solid $success;
  padding: 10px;
  margin-top: 20px;
}

// STORE INFO STYLES --------------------------------

.store-info {
  border-left: 4px solid $success;
  background-color: #eeeeee;
  margin-bottom: 20px;
  font-family: $font-two;
}
