
$primary-color: rgb(176, 241, 102);





// EVENT STYLES --------------------------------

.event-container {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  float: left;
  margin: 5px;
  box-shadow: 5px 5px 0 rgb(198, 198, 198);
}

.event-header {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: $primary-color;
  margin: 0;
  padding: 3px;
}
