
$primary-color: rgb(176, 241, 102);
$success: #5cb85c;




// EVENT STYLES --------------------------------

.event-container {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin: 5px;
  box-shadow: 5px 5px 0 rgb(198, 198, 198);
}

.event-header {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: $success;
  color: #F9F9F9;
  margin: 0;
  padding: 3px;
}

// STORE INFO STYLES --------------------------------

.store-info {
  border-left: 4px solid $success;
}
